$primary-light-color: #ffd5dc;
$primary-dark-color: #2b777e;
$accent-hover-color: #ff86aa;
$accent-active-color: #df2e2e;

$obj-shadow: 0.2338741421699524px 0.24023641645908356px 0.378425657749176px 0px #364a5008,
  1.0168440341949463px 1.0445060729980469px 0.737609326839447px 0px #364a500e,
  2.470931053161621px 2.538149833679199px 1.3276968002319336px 0px #364a5011,
  4.718156337738037px 4.846508502960205px 2.398833751678467px 0px #364a5015,
  7.880541801452637px 8.094922065734863px 4.201166152954102px 0px #364a5019,
  12.080107688903809px 12.408732414245605px 6.98483943939209px 0px #364a5017,
  17.438875198364258px 17.913280487060547px 11px 0px #364a5017;

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
