$primary-light-color: #ffd5dc;
$primary-dark-color: #2b777e;
$accent-hover-color: #ff86aa;
$accent-active-color: #df2e2e;

$obj-shadow: 0.3px 0.3px 0.4px 0px #00000018, 1.3px 1.3px 0.75px 0px #1b1b1b13,
  2.7px 3px 1.5px 0px #11111115, 5px 5px 4px 1px #1f272917, 6px 7px 4px 0px #1d232515,
  9px 10px 6px 0px #1c1d1d1c, 12px 12px 6px 0px #2428290a;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
