@import './vars';
@import './common';
@import './header';
@import './search-form';
@import './gallery';
@import './modal';

// notification

.fa-poop {
  background-image: url(../images/poop.svg);
}

.fa-like {
  background-image: url(../images/like.svg);
}

.fa-bell {
  background-image: url(../images/bell.svg);
}
