<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <img class="lightbox__image" src="" alt="" />
    <button
      type="button"
      class="lightbox__button lightbox__button--close"
      data-action="close-lightbox"
    ></button>
    <button
      type="button"
      class="lightbox__button lightbox__button--arrow-left"
      data-action="thumb-left"
    ></button>
    <button
      type="button"
      class="lightbox__button lightbox__button--arrow-right"
      data-action="thumb-right"
    ></button>
  </div>
</div>
