.galleryCard {
  position: relative;
  width: calc((100% - 80px) / 4);
  height: 220px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;

  box-shadow: var(--obj-shadow);
  cursor: pointer;
}

.galleryCard__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
}

.info__thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff3b;
}

.blur {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: bottom;
  left: 0;
  filter: blur(5px);
}

.infoItem {
  color: rgb(255, 255, 255);
  opacity: 0.93;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(63, 63, 63, 0.616),
    1px 1px 1px rgba(63, 63, 63, 0.616);
}

.infoItem:not(first-child) {
  margin-left: 12px;
}

/* icons */
.materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: inherit;
  white-space: nowrap;
  direction: ltr;

  margin-left: 5px;
  opacity: 0.93;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
