.loadingItem {
  position: relative;
  width: calc((100% - 80px) / 4);
  height: 220px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--white-color);
  opacity: 0.6;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
