.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px 50px;
  align-items: center;
  background-color: #ff86aa2f;
  box-shadow: inset 0px 3px 8px rgba(255, 255, 255, 0.38),
    inset 0px -3px 8px rgba(0, 0, 0, 0.38);

  font-size: 16px;
  color: var(--white-color);
}

.logo {
  color: var(--white-color);
  opacity: 0.8;
  transform: scale(1);
  margin-left: 16px;

  transition: color var(--animation), opacity var(--animation),
    transform var(--animation);
}

.logo:hover {
  color: var(--accent-hover-color);
  opacity: 1;
  transform: scale(1.07);
}
