.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.AppFixed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.is-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  pointer-events: none;
}

.container {
  width: 100%;
  padding: 180px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.reqest-message {
  color: var(--white-color);
  opacity: 0.7;
  margin-top: 60px;
}

.rejest-image {
  display: inline-flex;
  height: 400px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(./images/svg/404-monster.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff79;
  border: 2px solid var(--primary-dark-color);
  opacity: 0.3;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-dark-color);
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
}
