// ========
.more-info {
  position: absolute;
  top: 50px;
  right: 8px;
}

.on-fade-left {
  animation: fade-to-left 350ms ease-in normal both;
}

.lightbox__content.on-emerge-left {
  animation: emerge-to-left 350ms ease-in normal both;
}

@keyframes fade-to-left {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  60% {
    opacity: 0.3;
    transform: translate(-60%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-140%, 25%);
  }
}

@keyframes fade-to-right {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  60% {
    opacity: 0.3;
    transform: translate(60%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(140%, 25%);
  }
}

@keyframes emerge-to-left {
  0% {
    opacity: 0;
    transform: scale(0.8), translate(140%, 25%);
  }

  60% {
    opacity: 0.3;
    transform: translate(60%, 0%);
  }

  100% {
    opacity: 1;
    transform: scale(1), translate(0%, 0%);
  }
}
